{% extends 'pages/base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block header_title %} {{ subtitle }} {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <p class="lead">{{ description }}</p>
      <ul class="list-unstyled">
        <li><strong>Phone:</strong> +57 322 123 4567</li>
        <li><strong>Email:</strong> contact@perros.com</li>
        <li><strong>Address:</strong> Calle 123 #45-67, Titiribí, Colombia</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <p class="lead">{{ author }}</p>
    </div>
  </div>
</div>
{% endblock %}
